<!DOCTYPE html>
<!-- Simple, bare-bones Login UI Example -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Example login page for Cloudentity ACP Identity Pools"
    />
    <title>Identity Pools AuthN Page</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <p>Please log in.</p>
      <input type="text" name="email" id="login-email"></>
      <input type="text" name="password" id="login-password"></>
      <button id="login-submit">Submit</button>
    </div>
    <script src="app/index.js"></script>
  </body>
</html>
